<footer class="container">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="column">
    <p>{{ site.title | escape}} &nbsp;| &nbsp;Harvard University&nbsp; | &nbsp;Cambridge, MA 02138 USA |&nbsp;&nbsp;<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    
      <p>|{% for tongue in site.languages %} <a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a> |
  {% endfor %}
</p>

  </div>

</footer>
