
{% for page in site.pages %} 
	{% if page.id == include.id %}
		<div class="column four columns topic-container {{ page.areas  | remove: ',' | join: ' ' }}" data-sort-op="{{ include.sort }}">
		  <div class="topic-thumbnail">
				<a href="{{ page.permalink }}">
					<img src="/images/topic_thumbs/{{ page.thumbnail }}" class="u-full-width">
				</a>
			</div>
			<h2 class="topic-label"><a href="{{ page.permalink }}">
			    {{ page.title }}
			  </a>
			</h2>
      {{ page.description | markdownify }}
    </div>
  {% endif %}
{% endfor %}