<div class="video-custom">
<a class="videogallery" 
{% if include.groupid %}
data-rel="{{ groupid }}" 
{% else %}
data-rel="videos" 
{% endif %}
href="https://www.youtube.com/embed/{{ include.id }}?rel=0&amp;wmode=transparent" class="embedded-video-custom" style="background-image: url(&quot;//i.ytimg.com/vi/{{ include.id }}/mqdefault.jpg&quot;);"><svg viewBox="0 0 48 48"><path d="M40 8.8c-1.2-.4-8.6-.8-16-.8s-14.8.4-16 .8c-3.1 1-4 8-4 15.2s.9 14.2 4 15.2c1.2.4 8.6.8 16 .8s14.8-.4 16-.8c3.1-1 4-8 4-15.2s-.9-14.2-4-15.2zM20 33V15l12 9-12 9z"></path></svg>
{% if include.title %}
<div class="title">{{ include.title }}</div>
{% endif %}
</a>
</div>