<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
		{%- include nav.html -%}
    
<div class="container">
<main class="front-content" aria-label="Content">
  <div class="wrapper">
  <div class="row">
  <div class="carousel-wrapper">
  <div class="carousel column" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  
  {% for carousel_item in page.carousel %}
		{% include carousel-item.html id=carousel_item %}
	{% endfor %}
    
  </div>
  </div>
</div>

<div class="row">

<div class="publications six columns">
	<h2 class="title"><a href="/publications/">{{ site.data.locale.publications }}</a></h2>
	
	<div hidden>
		{% bibliography --cited --file publications --template bib_empty%}
		{% for key in page.publications %} 
		{% assign s_key = key | append: '' %}
		{% cite s_key --file publications %}
		{% endfor %}
	</div>

	{% bibliography --cited --file publications %}
	<div class="morelink column"><a href="/publications/">{{ site.data.locale.morepublications }}</a></div>
</div>

<div class="mediacoverage six columns">
	<h2 class="title"><a href="/mediacoverage/">{{ site.data.locale.mediacoverage }}</a></h2>
	<div hidden>
		{% bibliography --cited --file mediacoverage --template bib_empty%}
		{% for key in page.mediacoverage %}
		{% assign s_key = key | append: '' %}
		{% cite s_key --file mediacoverage %}
		{% endfor %}
	</div>
	{% bibliography --cited --file mediacoverage %}
	<div class="morelink column"><a href="/mediacoverage/">{{ site.data.locale.moremediacoverage }}</a></div>
</div>

</div>
</div>

</main>
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
