<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    
    <div class="container">

<main class="front-content" aria-label="Content">
  <div class="wrapper">
		<div class="front-researchareas two-thirds column">
			<h2 class="title"><a href="/research">{{ site.data.locale.research_areas }}</a></h2>
			<div class="front-researchareas-list six columns">
				<ul id="front-researchareas-ul">
			  	{% for researcharea in site.researchareas %} 
      			{% for area in site.pages %} 
        			{% if area.id == researcharea %}
        				<li><span class="li_inner"><a href="{{ area.permalink }}">{{ area.title }}</span></a></li>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
			<div class="front-researchtopics-list six columns">
				<ul id="front-researchtopics-ul">
				</ul>
			</div>
		</div>
		<div class="front-about one-third column">
			<h2 class="title"><a href="/about.html">{{ site.data.locale.about }}</a></h2>  
				<ul id="front-about-ul">
					<li><span class="li-inner"><a href="http://sciencecareers.sciencemag.org/career_magazine/previous_issues/articles/2006_12_29/nodoi.8192153396159846039">SCIENCE profile</a></span></li>
					<li><span>Resume <a href="/assets/peterlu_resume.pdf"><img src="/assets/pdf.gif"></a></span></li>
					<li><span>Wikipedia: <a href="http://en.wikipedia.org/wiki/Peter_Lu">[EN]</a> <a href="http://de.wikipedia.org/wiki/Peter_Lu">[DE]</a> <a href="http://fr.wikipedia.org/wiki/Peter_lu">[FR]</a>
					</span></li>
				</ul>
	</div>
</main>
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
