<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <div class="site-nav-row row">
			<div class="site-nav-container column">
				{%- include nav.html -%}
			</div>
    </div>
    <div class="container">
    
    

<main class="front-content" aria-label="Content">
  <div class="wrapper">
  <div class="row">
  <div class="research-carousel-wrapper">
  <div class="research-carousel column" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  
	{% for researcharea in site.researchareas %} 
		{% for area in site.pages %} 
			{% if area.id == researcharea %}
				<div><div class="researchtopic-thumbnail column">
						<a href="{{ area.permalink }}">
							<img src="/images/topic_thumbs/{{ area.thumbnail }}">
						</a>
					</div>
					<div class="researchtopic-label"><a href="{{ area.permalink }}">{{ area.title }}</div></a></div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
</div>
</div>

<div class="row">

<div class="publications six columns">
	<h2 class="title"><a href="/publications/">{{ site.data.locale.publications }}</a></h2>
	
	<div hidden>
		{% bibliography --cited --file publications --template bib_empty%}
		{% for key in page.publications %} 
		{% assign s_key = key | append: '' %}
		{% cite s_key --file publications %}
		{% endfor %}
	</div>

	{% bibliography --cited --file publications %}
	<div class="morelink column"><a href="/publications/">More Publications</a></div>
</div>

<div class="press six columns">
	<h2 class="title"><a href="/press/">{{ site.data.locale.press }}</a></h2>
	<div hidden>
		{% bibliography --cited --file press --template bib_empty%}
		{% for key in page.press %}
		{% assign s_key = key | append: '' %}
		{% cite s_key --file press %}
		{% endfor %}
	</div>
	{% bibliography --cited --file press %}
	<div class="morelink column"><a href="/press/">More Press</a></div>
</div>

</div>
</div>

</main>
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
