---
layout: default
---

<div class="mediacoverage">
		  {% if page.soundcloud %}
  <div class="soundcloud column">
    <h1 class="mediacoverage-heading">{{ site.data.locale.broadcastmediacoverage }}</h1>
<iframe width="100%" height="350" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url={{ page.soundcloud | xml_escape }}"></iframe>
  </div>
  {% endif %}

  <h1 class="mediacoverage-heading">{{ site.data.locale.printmediacoverage }}</h1>

  {% bibliography --file mediacoverage  --style _data/science-mediacoverage-plu.csl %}


</div>
