---
layout: default
---
<article class="researchtopic">

  <header class="researchtopic-header">
    <h1 class="researchtopic-title title">{{ page.title | escape }}</h1>
  </header>
  
  {% if page.youtube_single %}
    {% include youtubeSingle.html id=page.youtube_single %}
  {% endif %}

  {% if page.youtube_playlist %}
    {% include youtubePlaylist.html id=page.youtube_playlist %}
  {% endif %}

  {% if page.images or page.audio %}
  <div class="researchtopic-content content five columns">
  {% else %}
  <div class="researchtopic-content content">
  {% endif %}
  
    {{ content }}
  </div>

  {% if page.images or page.audio %}
  <div class="researchtopic-imagesandaudio seven columns">
  {% endif %}
  
  {% if page.images %}
  <div class="researchtopic-imagegallery imagegallery ">
    <h3>{{ site.data.locale.images }}</h3>
  <ul class="images-container">
  {% for img in page.images %} 
    {% assign img_caption = '' %}
    {% if img.caption %}
      {% assign img_caption = img.caption %}
    {% endif %}
    <li><a class="gallery" data-rel="topic" href="/images/large/{{ img.filename }}" title="{{ img_caption }}">
      <img src="/images/thumbs/{{ img.filename }}" /></a></li>
  {% endfor %}
  </ul>
  </div>
  {% endif %}
  
  {% if page.images or page.audio %}
  </div>
  {% endif %}

  
  {% if page.publications %}
  <div class="researchtopic-publications publications">
    <h3>{{ site.data.locale.publications }}</h3>

    <div hidden>
      {% bibliography --cited --file publications --template bib_empty%}
      {% for key in page.publications %} 
      {% assign s_key = key | append: '' %}
      {% cite s_key --file publications %}
		  {% endfor %}
	  </div>

    {% bibliography --cited --file publications %}

  </div>
  {% endif %}
  
  {% if page.mediacoverage %}
  <div class="researchtopic-mediacoverage mediacoverage">
    <h3>{{ site.data.locale.mediacoverage }}</h3>
    <div hidden>
      {% bibliography --cited --file mediacoverage --template bib_empty%}
      {% for key in page.mediacoverage %}
      {% assign s_key = key | append: '' %}
      {% cite s_key --file mediacoverage %}
		  {% endfor %}
	  </div>
    {% bibliography --cited --file mediacoverage %}

  </div>
  {% endif %}
  
  {% if page.links %}
  <div class="researchtopic-links links">
    <h3>{{ site.data.locale.links }}</h3>
    <ul>
      {% for link in page.links %}
      <li>{{ link }}</li>
		  {% endfor %}
		</ul>
	  </div>

  </div>
  {% endif %}

</article>
